@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow%7CVolkhov:400italic,700);
html {
    height: 100%;
    width: 100%;
    min-height: 100%;
    background: #020202;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    background-color:  #020202;    
    color: #e6e9ec;
    font-family: "PT Sasns Narrow", Arial, Sans-serif;
    font-size: 40px;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    margin: 0;
    padding: 0; 
}
.navbar {
    background: #141414;
    border-top: 0 solid #141414;
    color: black;
    vertical-align: middle;
    margin-bottom: 100px;
}
#heading {
    font-size: 45px;
    text-align: center;
    font-weight: 11;
    text-shadow: 1px 1px 3px #FFFFFF;
    font-family: ‘Limelight’, cursive;
    color: #C2C9C8;
}

.container {
    position:relative;
 }
 
.search {
    width: 40%;
    height: 40px;
    font-size: 15px;
    color: #C2C9C8;
    /* padding-left: 50px; */
    margin-bottom: 10px;
    margin-top: 15px;
 }
 #searchButton {
    margin-bottom: 10px;
 }
input:focus,
select:focus,
textarea:focus,
button:focus {
   outline: none;
}
#trailerInfo {
    margin: auto;
    /* position: relative; */
    width: 100%;  
    /* background: black; */
    font-size: 25px;
    line-height: 2rem;
    padding: 20px;
  }
#trailer {
    width: 100%;  
    background: black;
    padding: 20px;
    height: 500px;
    margin: 30px;
}

.title {
    font-size: 50px;
    margin-bottom: 10px;
  }
.btn-primary {
    background: #286595; 
    box-shadow: none;
    border: none;
}
.mvImg {
    float: left;
    height: 300px;
    padding-right: 15px;
}

hr
{
    border-top: 1px solid rgb(255, 255, 255);
}


/* Footer */
.footer {
    width: 100%;
    height: 68px;
    background: #666666;
    color: #C2C9C8;
    position: fixed;
    bottom: 0;
}
.footer a {
   margin-right: 10px;
   margin-top: 25px;
}

hr
{
    border-top: 1px solid rgb(255, 255, 255);
}

.noposter{
    float: left;
    height: 300px;
    padding-right: 15px;
}
.team{
    text-align: center;
}