

h2{
    color: red;
    text-align: center;
}

h1 {
    padding-top: 20%;
    font-size: 56px;
    color: black;
    font-family: “Volkhov”, serif;
    text-align: center;
    font-weight: 700;
    text-shadow: 1px 1px 3px #e0d1bc;
    font-family: ‘Limelight’, cursive;
}

.btn-primary {
    color: #fff;
    background-color: #286595;
    border-color: white;
    margin-top: 20px;
}

div {
    text-align: center;
    margin: 10px;
}
=======
.container {
    background: linear-gradient(to right, rgb(14, 8, 4), rgb(20, 19, 5));
    min-height:100%;
    position:relative;
    margin-top: -30px;
 }

.search {
    width: 30%;
    height: 40px;
    font-size: 15px;
    color: rgb(194, 42, 214);
    padding-left: 50px;
    margin-bottom: 20px;
  }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.btn-primary {
    background: #4aaaa5;    box-shadow: none;
    border: none;
    margin-bottom: 50px;
}

/* Footer */
.footer {
    width: 100%;
    height: 68px;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    color: #C2C9C8;
}

.footer p {
    font-size: 8px;
    margin: 0;
}

